{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Login</title>

    <!-- Local Styling -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login" action="login_user" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" name="email" class="login__input" required placeholder="Email">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" name="pwd" class="login__input" required placeholder="Password">
                    </div>
                    <button class="button login__submit">
                        <span class="button__text">Log In Now</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>				
                </form>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div>
    <div class="toast" id="toast">
        <div class="toast-body">
        </div>
    </div>
    <input id="hidden_toast" value="off" style="display: none;" readonly type="text">
    <script>
        const toast = document.getElementById('toast');
       
        '{% for message in messages %}'
                 
            if('{{message}}' == 'error'){
                toast.classList.add('visible');
                toast.querySelector('.toast-body').innerHTML = "Email or Password is incorrect!";
                toast.classList.add('toast-body-error');
                document.getElementById("hidden_toast").value = "on"
            }
        '{% endfor %}'
        
        if(document.getElementById("hidden_toast").value == "on"){
            //setTimeout(remove_toast,4000)   
        }
        function remove_toast(){
            const toast = document.getElementById('toast');
            toast.classList.remove('visible');
            document.getElementById("hidden_toast").value = "off"
        }
    </script>
</body>
</html>

